<mat-drawer-container autosize>
  <mat-drawer #drawer [opened]="sideNavOpen" class="sidenav" mode="side">
    <button mat-flat-button>
      <mat-icon>person</mat-icon>
      Collaborateurs
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <toolbar-basic-example
      (MenuIconClicked)="MenuIconClickedHandler($event)"
    ></toolbar-basic-example>
    <div id="content-container">
      <app-collaborateur></app-collaborateur>
    </div>
  </div>
</mat-drawer-container>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license -->
