<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="clickMenuIcon()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Staff Manager</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
